$md: 768px;
$lg: 1024px;
$xl: 1440px;
$_2xl: 1920px;

@mixin screen($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin md() {
  @include screen($md) {
    @content;
  }
}

@mixin lg() {
  @include screen($lg) {
    @content;
  }
}

@mixin xl() {
  @include screen($xl) {
    @content;
  }
}

@mixin _2xl() {
  @include screen($_2xl) {
    @content;
  }
}
