$lg: 1439.9px;
$md: 1023.9px;
$sm: 767.9px;

@mixin screen($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin lg() {
  @include screen($lg) {
    @content;
  }
}

@mixin md() {
  @include screen($md) {
    @content;
  }
}

@mixin sm() {
  @include screen($sm) {
    @content;
  }
}
