.purchase-card-item {
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @apply tw-bg-base01;

  @include sm {
    padding: 24px 16px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__icon-wrap {
    flex-shrink: 0;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 8px;
    @apply tw-bg-primary tw-text-white;
  }

  &__number {
    font-size: 32px;
    line-height: 1.375;
    -webkit-text-stroke: 1px #4FBA78;
    -webkit-text-fill-color: transparent;
  }

  &__body {
    font-size: 16px;
    line-height: 1.75;
  }

  &__bottom {
    margin-top: auto;
  }

  &__link {
    font-size: 16px;
    font-size: 16px;
    @apply tw-text-primary;
  }
}

.purchase-promo-card {
  border-radius: 16px;
  padding: 40px;
  @apply tw-bg-secondary-hover;

  @include md {
    padding: 24px;
  }

  @include sm {
    padding: 24px 16px;
  }

  &__title {
    font-size: 32px;
    line-height: 1.375;

    @include sm {
      font-size: 24px;
      line-height: 1.3;
    }
  }

  &__text-accent {
    @apply tw-text-primary;
  }

  &__action {
    margin-top: 40px;

    @include sm {
      margin-top: 24px;
    }
  }
}

.purchase-info {
  .page-info__decor {
    path {
      fill: #4FBA78 !important;
    }
  }

  .page-info__icon {
    fill: #6AD091 !important;
    opacity: 1 !important;
  }
}

.purchase-promo-img {
  border-radius: 16px;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.purchase-promo-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;

  &__item {
    width: calc(50% - 20px);
    margin: 10px;

    @include lg {
      width: calc(100% - 20px);
    }
  }
}

.purchase-step-items {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;

  &__item {
    margin: 10px;
    width: calc(100% / 12 * 4 - 20px);

    @include lg {
      width: calc(50% - 20px);
    }

    @include sm {
      width: calc(100% - 20px);
    }
  }
}
