.keys-alert-modal {
  &__icon-wrap {
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 24px;
    @apply tw-bg-base00;
  }

  &__title {
    max-width: 427px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 16px;
    @apply tw-text-2xl;
  }

  &__body {
    margin-bottom: 24px;
    @apply tw-text-text02 tw-text-base tw-text-center;
  }
}
