@font-face {
  font-family: 'freeset';
  src:
    url('../fonts/freeset/FreeSetC.woff2') format('woff2'),
    url('../fonts/freeset/FreeSetC.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'freeset';
  src:
    url('../fonts/freeset/FreeSetBoldC.woff2') format('woff2'),
    url('../fonts/freeset/FreeSetBoldC.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'freeset-demi';
  src:
    url('../fonts/freeset/FreeSetDemiC.woff2') format('woff2'),
    url('../fonts/freeset/FreeSetDemiC.woff') format('woff');
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 100%;
  }

  body {
    @apply tw-text-body_m tw-text-text00;
    background: theme('colors.secondary');
    font-family: 'freeset';
    font-weight: 400;
    font-size: 1rem;
  }
}

@layer components {
  .wrapper {
    padding: 0 16px;
  }

  @screen md {
    .wrapper {
      max-width: 768px;
      margin: 0 auto;
    }
  }

  @screen lg {
    .wrapper {
      max-width: 1024px;
      padding: 0 24px;
    }
  }

  @screen xl {
    .wrapper {
      max-width: 1440px;
      padding: 0 40px;
    }
  }

  @screen 2xl {
    .wrapper {
      max-width: 1920px;
      padding: 0 80px;
    }
  }
}
