@layer components {
  .wrapper {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;

    @include lg {
      max-width: 1024px;
      padding: 0 24px;
    }

    @include md {
      max-width: 768px;
    }

    @include sm {
      padding: 0 16px;
      width: 100%;
    }
  }
}
