@import './table.scss';

.page-card {
  border-radius: 16px;
  padding: 40px;
  @apply tw-bg-white;

  @include lg {
    padding: 24px;
  }

  @include sm {
    padding: 24px 16px;
  }
}

.edit-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  @apply tw-text-primary tw-text-base;

  &__icon {
    width: 24px;
    height: 24px;
  }
}
