@layer utilities {
  .transition-base {
    @apply tw-duration-500 tw-ease-in-out;
  }

  .anim-500ms {
    --animate-duration: 500ms;
  }

  .anim-300ms {
    --animate-duration: 300ms;
  }

  .anim-200ms {
    --animate-duration: 200ms;
  }

  .anim-100ms {
    --animate-duration: 100ms;
  }
}
